<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.icon != "wechat" %}
          <a class="icon-{{ social.icon }}" href="{{ social.url }}">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
        {% if social.icon == "wechat" %}
          <a class="icon-{{ social.icon }}" href="javascript:;" onclick="wechat()">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        {% endif %}
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endfor %}
      <a href="/about/">关于</a>
    </div>
</header>
