#blog-by-year {
	margin-left: 30px;
}

#blog-by-year h3 a {
	font-family: 'apple chancery', 'MV Boli', '华文楷体';
	font-size: 20px;
	font-weight: bold;
	margin-top: 24px;
	margin-bottom: 8px;
	color: #474747;
	text-decoration: none;
}

#blog-by-year h3 a:hover {
	color: #b85b5a;
}

#blog-by-year h3::before {
	content: "///";
	color: #9ddcff;
	padding-right: 0.3em;
	margin-left: -2em;
	font-family: 'marker felt', 'MV Boli';
	font-size: 14px;
}
