h1 {
	display: block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26px;
	margin: 20px 0px 20px 0px;
}

h2 {
	display: block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	height: 22px;
	line-height: 22px;
	margin: 20px 0px 20px 0px;
}

p {
	display: block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
	color: rgb(51, 51, 51);
	margin: 30px 0 30px 0;
}

a {
	display: inline;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
	color: rgb(0, 102, 170);
}

a:hover {
	color: #b85b5a;
}

code {
	display: inline-block;
	font-size: 12px;
	color: rgb(102, 102, 102);
	padding: 15px;
	border: 1px solid #eeeeee;
	background-color: #fefefe;
	border-radius: 10px;
}

blockquote {
	border-left: 1px dashed #999;
	padding: 1px 0px 1px 15px;
	background-color: rgb(248, 248, 248);
}

blockquote p:first-letter {
	float: left;
	font-family: “Monotype Corsiva”, “Apple Chancery”, fantasy;
	font-size: 150%;
	font-weight: bold;
}

blockquote p {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	line-height: 19px;
	color: rgb(102, 102, 102);
}

li {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 19px;
	color: rgb(51, 51, 51);
}

.divider {
	border-bottom: 1px solid #e4e4e4;
	clear: both;
	margin: 20px 0;
}

.remark {
	display: inline-block;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	color: rgb(65, 131, 196);
	padding: 5px;
	border: 1px solid #eeeeee;
	background-color: #fefefe;
}

.date {
	color: rgb(187, 187, 187);
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}