---
layout: default
---

{% include header-about.html %}
<main class="content" role="main">
  <article class="post">
    <div class="noarticleimage">
      <div class="post-meta">
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.image %}
        <div class="cf post-meta-text">
          <span class="author-name">{{ page.author }}</span>
          &nbsp;·&nbsp;
          <time datetime="{{ page.date | date: '%Y-%m-%-d' }}">{{ page.date | date: "%Y-%m-%-d" }}</time>
        </div>
        {% endif %}
      </div>

      <br>

      {% if page.image %}
      <div class="post-drawing">
          <img src="{{ page.image }}">
      </div>
      {% endif %}

      <br>
      <br>

      <section class="post-content">
        <a name="topofpage"></a>
        {{content}}
      </section>
    </div>
  </article>
</main>
